.pirate-slider {
    position:relative;
    width: 100%;
    height: 700px; /* Adjust based on your needs */
    overflow: hidden;
    margin-top: -13rem;
    z-index: -10;
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .slide-caption {
    position: relative;
    text-align: center;
    top: 18rem;
    color: white;
    font-size: 4rem;
  }


  .slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  @media (max-width: 640px) {
    .slide-caption {
      font-size: 3rem;
    }
  }
  @media (max-width: 480px) {
    .slide-caption {
      font-size: 2rem;
    }
  }
